.contianer{


    width:600px ;
    height: 300px;

    background-color: blueviolet;

    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 90px 90px 90px ;

    row-gap: 50px;
    column-gap: 60px;


}

.items{
/* 
    width: 100px;

    height: 50px; */

    background-color: greenyellow;

    border: 2px solid black;
    text-align: center;
}

.one{

    grid-column-start:1 ;

    grid-column-end: 4;
}